<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoutTimeProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C2FBB231E3B9AF900567E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C2FBB3A1E3B9AFC00567E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C2FBB451E3B9AFC00567E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
